@import "../../../sass/mixins";
@import "../../../sass/variables";

.header {
  padding: 2.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-15%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__container {
    @include flex(center, space-between);
  }
  &.active {
    border-bottom: 0;
    background: $secondary-bg;
    animation: fadeInDown 1s ease;
  }
}

.menu {
  @include flex(center);
  gap: 1.5rem;
  &__item {
    padding: 12px;
    position: relative;
    cursor: pointer;

    &:hover {
      .menu__sub {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
      }
      > a {
        color: $hover-text;
      }
    }
  }

  &__link {
    color: #fff;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.2s linear;
  }
  &__link--active {
    color: $hover-text;
  }

  &__sub {
    position: absolute;
    top: 100%;
    left: 0;

    width: 200%;
    min-width: 14rem;
    padding: 2rem 0;
    border-radius: 4px;
    background-color: $drop-down-bg;

    opacity: 0;
    pointer-events: none;
    transform: translateY(30%);
    transition: all 0.3s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 1rem;
      width: 20px;
      height: 20px;
      background-color: inherit;
      transform: rotate(45deg) translateY(-50%);
    }

    &-item {
      font-size: 1.4rem;
      font-weight: 400;
      padding: 0 20px;
      a {
        position: relative;
        display: inline-block;
        padding: 5px 0 5px 0px;
        line-height: 1.6;
        transition: all 0.3s linear;
        &:before {
          content: "";
          position: absolute;
          display: inline-block;
          background-color: $hover-text;

          width: 15px;
          height: 2px;
          left: 0;
          top: 50%;
          border-radius: 5px;

          transform: translateY(-50%) scaleX(0);
          transform-origin: left;
          transition: all 0.3s linear;
        }
        &:hover {
          color: $hover-text;
          padding: 5px 0 5px 20px;

          &:before {
            transform: translateY(-50%) scaleX(1);
          }
        }
      }
    }
  }
}

.btn-login {
  a {
    border-radius: 3rem;
    padding: 1rem 4.5rem;
    background: $gradient-btn;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: all 0.2s linear;
    &:hover {
      box-shadow: 0px 5px 15px 0px rgba(85, 6, 212, 0.9);
      color: #fff;
    }
  }
}
