@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.dashboard {
  &__home {
    @include flex(center, flex-start, wrap);
    gap: 5rem;
    margin-bottom: 5rem;
  }

  .chart {
    &__filter {
      @include flex(center, flex-start);
      gap: 2rem;
      margin-bottom: 2rem;

      &-item {
        width: 15%;
      }
    }
  }
}
