$primary-bg: #001232;
$secondary-bg: #0a1e5e;
$hover-text: #ece21c;
$success: #ece21c;
$secondary-text: #bfccfa;
$drop-down-bg: #103650;
$error: #ee3049;
$gradient-btn: linear-gradient(120deg, #743cce 20%, #ee3049 100%);
$shadow-primary: 0 2px 15px rgba(236, 226, 28, 0.4);
$shadow-secondary: 0 2px 15px rgba(191, 204, 250, 0.4);
