@import "../../../sass/variables";
@import "../../../sass/mixins";

.pagination {
  @include flex(center, center);
  margin: 2rem;
}

.disabled {
  filter: brightness(80%);
  pointer-events: none;
}

.page-link {
  background: $secondary-bg;
  color: $secondary-text;

  &:hover {
    background: $gradient-btn;
    color: $secondary-text;
  }
}

.page-item.active .page-link {
  background: $gradient-btn;
  border-color: currentColor;
}

.page-item.disabled .page-link {
  background: $primary-bg;
}
