@import "../../../../../sass/variables";
@import "../../../../../sass/mixins";
.modal {
  &__container {
    max-width: 65rem;
    margin: 5rem auto;
  }
  &-header {
    font-size: 2rem;
    font-weight: 600;
  }
  &-body {
    padding: 2rem;
  }
  &-footer {
    padding: 2rem 1rem;
  }
  &-content {
    background: $primary-bg;
    padding: 2rem;
  }
}

.form {
  &-side {
    align-items: flex-start;
  }
  &-group {
    margin-bottom: 2rem;
  }
  &-label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  &-control {
    padding: 7px 1rem;
    font-size: 1.4rem;
    background: $secondary-bg;
    color: $secondary-text;

    &:focus {
      color: $secondary-bg;
    }
  }
  &-options {
    @include flex(center, center);
    margin-top: 2rem;
    gap: 2rem;
  }

  &__radio {
    padding: 1rem 0;
    @include flex(center, flex-start);
    gap: 2rem;

    &-item {
      @include flex(center);
      gap: 1rem;
    }
  }
}

.invalid-feedback {
  margin-top: 8px;
  font-size: 1.3rem;
}

.select-bar {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1.5rem;
    pointer-events: none;

    border: 5px solid transparent;
    border-top-color: #fff;
    border-radius: 2px;
    transform: translateY(-30%);
  }
}

.preview__area {
  width: 65%;
  height: 18rem;
  img {
    border-radius: 6px;
  }
}
