@import "../../sass/variables";
@import "../../sass/mixins";

.forgot-password {
  &__container {
    padding: 26.8rem 0;
    @include flex(center, center);
  }
  &__form {
    @include flex(flex-start, flex-start, nowrap, column);

    span {
      margin-left: 2rem;
      margin-bottom: 1rem;
    }

    button {
      display: block;
      margin: 0 auto;
    }
  }
  &__title {
    margin: 0 auto 2rem;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__input {
    width: 50rem;
    border: 0;
    padding: 1.5rem 2rem;
    color: $secondary-text;

    outline: none;
    background: $secondary-bg;
    border-radius: 3rem;
    margin-bottom: 2rem;
  }
}
