@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,800&display=swap");
@import "../../../sass/variables";
.logo {
  h3 {
    font-size: 5rem;
    padding: 1rem;
    letter-spacing: 8px;
    font-weight: 700;
    text-transform: uppercase;
    // font-family: "Barlow Condensed", sans-serif;

    color: #fff;
    background: $gradient-btn;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 6px transparent;
  }

  &--small {
    h3 {
      font-size: 2.5rem;
    }
  }
  &--medium {
    h3 {
      font-size: 3.2rem;
    }
  }
}
