@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.dashbox {
  @include flex-row(2, 5rem);

  &__header {
    @include flex(center, space-between);
    font-size: 1.2rem;
  }

  &__main {
    table {
      font-size: 1.2rem;
    }

    td {
      padding: 1.2rem 2rem;
    }

    th {
      padding: 1rem 2rem;
      font-weight: 600;
    }
  }
}
